<div class="container-fluid cont-1">
  <div class="row-12">
    <div class="col"><input type="text" class="input-1" value={{screenOperation}} readonly/></div>
    <div class="col"><input type="text" class="input-1" value={{screenResult}} readonly/></div>
  </div>
  <div class="row-12">
    <div class="col btn-group-vertical" role="group">
      <button type="button" class="btn btn-primary btn-1" (click)="click('9')">9</button>
      <button type="button" class="btn btn-primary btn-1" (click)="click('6')">6</button>
      <button type="button" class="btn btn-primary btn-1" (click)="click('3')">3</button>
      <button type="button" class="btn btn-primary btn-1" (click)="click('.')">.</button>
    </div>
    <div class="col btn-group-vertical" role="group">
      <button type="button" class="btn btn-primary btn-1" (click)="click('8')">8</button>
      <button type="button" class="btn btn-primary btn-1" (click)="click('5')">5</button>
      <button type="button" class="btn btn-primary btn-1" (click)="click('2')">2</button>
      <button type="button" class="btn btn-primary btn-1" (click)="click('0')">0</button>
    </div>
    <div class="col btn-group-vertical" role="group">
      <button type="button" class="btn btn-primary btn-1" (click)="click('7')">7</button>
      <button type="button" class="btn btn-primary btn-1" (click)="click('4')">4</button>
      <button type="button" class="btn btn-primary btn-1" (click)="click('1')">1</button>
      <button type="button" class="btn btn-primary btn-1" (click)="click('00')">00</button>
    </div>
    <div class="col btn-group-vertical" role="group">
      <button type="button" class="btn btn-primary btn-2" (click)="clear()">DEL</button>
      <button type="button" class="btn btn-primary btn-2" (click)="click('/')">/</button>
      <button type="button" class="btn btn-primary btn-2" (click)="click('*')">x</button>
      <button type="button" class="btn btn-primary btn-2" (click)="click('-')">-</button>
      <button type="button" class="btn btn-primary btn-2" (click)="click('+')">+</button>
      <button type="button" class="btn btn-primary btn-2" (click)="result()">=</button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
